@use "../../../../styles/mixins/animation";

.card {
  width: 100%;
  border-radius: var(--radius-md);
  border-color: var(--color-card-border);
  border-bottom-width: 1px;
  cursor: pointer;
  padding: var(--space-xs);
  background-color: var(--color-card-bg);
  box-shadow: var(--shadow-xs);
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: var(--color-card-bg-hover);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xxxs);
    padding-bottom: var(--space-xxs);
  }

  &__tag {
    @include animation.transition-all;
    @include animation.duration-200;
    --btn-padding-vertical: 0;
    --btn-padding-horizontal: var(--space-xxs);
    --btn-font-size: var(--text-xs);
    --btn-justify-content: start;
    font-weight: 600;
    min-width: 2.27rem;
    min-height: 0.5rem;
    max-height: 1.4em;
    line-height: 1.4em;

    &_open {
      min-width: 2.6rem;
    }
  }

  &__label {
    @include animation.transition-all;
    @include animation.duration-200;
    transition-timing-function: linear;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;

    &_open {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
  }

  &__name {
    color: var(--color-card-name);
    font-size: var(--text-sm);
    font-weight: 500;
  }
}
