.boardMenu {
  transition-property: all;
  transition-timing-function: var(--ease-out);
  transition-duration: 200ms;
  overflow: hidden;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-board-menu);
  display: flex;
  flex-direction: column;
  background-color: var(--color-board-menu-bg);
  box-shadow: var(--shadow-sm);

  & > :not([hidden]) ~ :not([hidden]) {
    border-top-width: 1px;
    border-color: var(--color-divide);
  }

  &_open {
    width: 20rem;
    padding: var(--space-sm);
  }

  &__header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--space-sm);
    font-weight: 600;
    font-size: var(--text-md);
    color: var(--color-board-menu-title);
  }

  &__closeBtn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: var(--color-btn-close);
    padding-bottom: var(--space-sm);
    background-color: var(--color-transparent);
    box-shadow: none;

    &:hover {
      color: var(--color-btn-close-hover);
      background-color: var(--color-transparent);
    }

    &_open {
      display: grid;
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & > :not([hidden]) ~ :not([hidden]) {
      border-top-width: 1px;
      border-color: var(--color-divide);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    padding: var(--space-xs) 0;

    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: var(--space-xxxs);
    }
  }

  &__item {
    padding: var(--space-xxs) var(--space-sm);
    color: var(--color-board-menu-item);
    font-weight: 600;
    font-size: var(--text-sm);
    background-color: var(--color-board-menu-item-bg);
    box-shadow: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: left;
    gap: var(--space-xs);

    &:hover {
      background-color: var(--color-board-menu-item-bg-hover);
    }
  }

  &__bg {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: var(--radius-md);
    background-color: var(--color-html-bg);
  }
}

.bmActivity {
  &__header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: var(--space-xxxs) var(--space-sm);
    color: var(--color-bm-activity-title);

    & > :not([hidden]) ~ :not([hidden]) {
      margin-left: var(--space-xs);
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &__title {
    font-weight: 700;
    font-size: var(--text-sm);
  }
}
