@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.notification {
  width: 100%;

  &__container {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    color: var(--color-notification);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fade-in;

    &_info {
      background-color: var(--color-notification-info-bg);
    }

    &_success {
      background-color: var(--color-notification-success-bg);
    }

    &_warning {
      background-color: var(--color-notification-warning-bg);
    }

    &_error {
      background-color: var(--color-notification-error-bg);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xxs) 0;
  }

  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__close {
    width: 1rem;
    height: 1rem;
  }

  &__message {
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.4;
  }
}
