@use "../../styles/mixins/breakpoints";

.formRow {
  display: var(--form-row-display, flex);
  flex-direction: var(--form-row-direction, column);
  gap: var(--space-xxxxs);
}

@include breakpoints.all('.formRow', var(--form-row-display, flex));
