@import "../../../../styles/breakpoints";

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-white-100);
    padding: var(--space-lg) var(--space-md);
    overflow-y: auto;

    & > :not([hidden]) {
      @include breakpoint(sm) {
        width: calc(26rem - (2 * var(--space-lg)));
        margin: 0 auto;
      }

      & ~ :not([hidden]) {
        padding-top: var(--space-md);
      }
    }

    @include breakpoint(sm, 'min-height: 550px') {
      max-width: 26rem;
      height: auto;
      padding: var(--space-xl) var(--space-lg);
      border-radius: var(--radius-md);
      box-shadow: var(--shadow-sm);
    }
  }

  &__title {
    text-align: center;
    font-size: var(--text-lg);
    font-weight: 600;
    margin-top: 0;
  }

  &__form {
    padding-bottom: var(--space-md);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-width: 1px;
    border-color: var(--color-divide);
  }

  &__link {
    color: var(--color-link);
    font-size: var(--text-sm);

    &:hover {
      text-decoration: underline;
    }
  }

  &__dot {
    display: block;

    &::after {
      content: '\2022';
      color: var(--color-dot);
      font-weight: 700;
      padding: 0 var(--space-xs);
    }
  }
}
