@use "../../../../styles/mixins/buttons";
@use "../../../../styles/mixins/breakpoints";

.addBoard {
  position: relative;
  width: 100%;
  max-width: 32rem;
  margin: var(--space-sm) auto;
  padding: 0 var(--space-sm);
  background-color: var(--color-transparent);

  @include breakpoints.breakpoint(sm) {
    margin: var(--space-xl) auto;
  }

  &__wrapper {
    padding: var(--space-md);
    background-color: var(--color-modal-body-bg);
    display: grid;
    grid-auto-flow: row;
    gap: var(--space-md);
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-xl);
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-weight: 600;
    font-size: var(--text-lg);
    color: var(--color-modal-title);
  }

  &__colorList {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-xxs);

    @include breakpoints.breakpoint(sm) {
      gap: var(--space-xs);
    }
  }

  &__color {
    cursor: pointer;
    width: 2.1rem;
    height: 2.1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-xl);
    background-color: var(--color-html-bg);
    color: var(--color-gray-c100);
    border-radius: var(--radius-md);

    @include breakpoints.breakpoint(sm) {
      width: 2.35rem;
      height: 2.35rem;
    }
  }
}
