@use "sanitize.css/sanitize";
@use "sanitize.css/assets";
@use "sanitize.css/forms";
@use "sanitize.css/reduce-motion";
@use "sanitize.css/system-ui";
@use "sanitize.css/ui-monospace";
@use "sanitize.css/typography";

@use "root";
@use "reset";

[data-reach-dialog-overlay],
[data-reach-alert-dialog-overlay] {
  background: var(--color-modal-overlay-bg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: var(--zindex-modal);
}

[data-reach-dialog-content],
[data-reach-alert-dialog-content] {
  outline: none;
}

[data-reach-tooltip] {
  z-index: 45;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  font-size: var(--text-sm);
  padding: var(--space-xxxs) var(--space-xxs);
  background-color: var(--color-black-080, var(--color-tooltip-default-bg));
  color: var(--color-white-100, var(--color-tooltip-default));
  border-radius: var(--radius-md);
}
