@import "../../../../styles/breakpoints";

.boardListPage {
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow-y: auto;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-md);
    margin: 0 auto;

    @include breakpoint(sm) {
      max-width: map-get($map: $breakpoints, $key: sm);
      align-items: flex-start;
    }

    @include breakpoint(md) {
      max-width: map-get($map: $breakpoints, $key: md);
      padding: var(--space-lg);
    }

    @include breakpoint(lg) {
      max-width: map-get($map: $breakpoints, $key: lg);
      padding: var(--space-xl);
    }

    @include breakpoint(xl) {
      max-width: map-get($map: $breakpoints, $key: xl);
    }

    @include breakpoint(xxl) {
      max-width: map-get($map: $breakpoints, $key: xxl);
    }
  }

  &__title {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: var(--space-xs);
    color: var(--color-boards-page-title);
    font-weight: 700;
    font-size: var(--text-md);
  }

  &__icon {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--color-boards-page-icon);

    & > path {
      stroke-width: 3;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--space-xs);

    @include breakpoint(sm) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include breakpoint(md) {
      gap: var(--space-sm);
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include breakpoint(xl) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @include breakpoint(xxl) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }

  &__newItem {
    height: 7rem;
    font-weight: 500;
    font-size: calc(var(--text-md) * 0.9);
    color: var(--color-boards-page-new-item);
    background-color: var(--color-boards-page-new-item-bg);
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-md);
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: center;

    &:only-child {
      grid-column: span 2;

      @include breakpoint(sm) {
        grid-column: span 1;
      }
    }

    &:hover {
      text-decoration: underline;
      background-color: var(--color-boards-page-new-item-bg);
      opacity: 0.8;
    }

    @include breakpoint(md) {
      font-size: var(--text-md);
    }
  }
}
