@keyframes flash {
  50% {
    opacity: 0.5;
  }
}

@keyframes jumping {
  50% {
    transform: scaleY(0.85);
  }

  100% {
    transform: scaleY(1);
  }
}

.loader {
  position: relative;
  display: flex;
  padding: var(--space-xxxs);
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--radius-sm);
  background-color: var(--color-html-bg);
  box-shadow: var(--shadow-xs);
  animation: flash 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  & > :not([hidden]) ~ :not([hidden]) {
    margin-left: var(--space-xxxs);
  }

  &__xl {
    width: 1.9rem;
    height: 3.75rem;
    transform-origin: 100% 0;
    border-radius: var(--radius-sm);
    background-color: var(--color-category-bg);
    box-shadow: var(--shadow-xs);
    animation: jumping 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  &__lg {
    @extend .loader__xl;
    height: 2.5rem;
  }

  &__md {
    @extend .loader__xl;
    height: 1.5rem;
  }

  &__add {
    width: 1.9rem;
    height: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.16rem;
    line-height: 1;
    color: var(--color-btn);
    border-radius: var(--radius-sm);
    background-color: var(--color-white-030);
    box-shadow: var(--shadow-xs);
    animation: jumping 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  &__icon {
    width: 0.2rem;
    height: 0.2rem;
  }

  &__loading {
    position: absolute;
    right: 0.125rem;
    bottom: 0.125rem;
    color: var(--color-btn);
    font-size: 0.5rem;
    animation: flash 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
