@import "../../../../styles/breakpoints";

.notFound {
  width: 100%;
  height: 100%;

  &__container {
    padding: var(--space-xxl) var(--space-lg);
    margin: 0 auto;
    text-align: center;

    @include breakpoint(md) {
      max-width: map-get($map: $breakpoints, $key: sm);;
    }
  }

  &__title {
    font-weight: 700;
    font-size: var(--text-xl);
    margin-bottom: var(--space-lg);
    color: var(--color-not-found-title);
  }

  &__text {
    font-size: var(--text-md);
    text-align: center;
    color: var(--color-not-found-text);
  }

  &__auth {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: var(--space-xxs);
    margin-top: var(--space-md);
    font-size: var(--text-sm);
    color: var(--color-not-found-auth);
  }

  &__user {
    font-weight: 600;
  }

  &__btn {
    color: var(--color-not-found-auth);
    text-decoration: underline;
    background-color: var(--color-transparent);
    box-shadow: none;

    &:hover {
      text-decoration: none;
      background-color: var(--color-transparent);
    }
  }
}
