@use "../../styles/mixins/breakpoints";

.formError {
  display: var(--form-error-display, block);
  color: var(--color-input-error, var(--color-input-default-error));
  font-size: var(--form-error-font-size, var(--text-sm));
  font-weight: var(--form-error-font-weight, 600);
}

@include breakpoints.all('.formError', var(--form-error-display, block));
