.boardPage {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &__content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__categories {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: var(--space-xs);
    padding: 0 var(--space-xs) var(--space-xs);
    overflow-y: hidden;
    overflow-x: auto;
  }

  &__addCategory {
    width: 16rem;
  }
}
