.addCard {
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;

  &_open {
    gap: var(--space-xs);
  }

  &__openBtn {
    width: 100%;
    gap: var(--space-xxxs);
    padding: var(--space-xxs) var(--space-sm);
    font-size: calc(var(--text-md) * 0.9);
    color: var(--color-add-card-open-btn);
    background-color: var(--color-add-card-open-btn-bg);
    border-radius: var(--radius-md);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: left;

    &_open {
      display: none;
    }

    &:hover {
      color: var(--color-add-card-open-btn-hover);
      background-color: var(--color-add-card-open-btn-bg-hover);
    }
  }

  &__plusIcon {
    width: 1.15rem;
    height: 1.15rem;
  }

  &__input {
    display: none;
    width: 100%;
    min-height: 3.5rem;
    font-size: var(--text-sm);
    padding: var(--space-xxs) var(--space-xs);
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: var(--radius-md);
    border-color: var(--color-add-card-input-border);
    box-shadow: var(--shadow-xs);

    &:focus {
      border-color: var(--color-add-card-input-border-focus);
    }

    &_open {
      transition-property: all;
      transition-timing-function: var(--ease-in-out);
      transition-duration: 100ms;
      display: block;
    }
  }

  &__footer {
    width: 100%;
    height: 0;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: start;
    gap: var(--space-xs);

    &_open {
      transition-property: all;
      transition-timing-function: var(--ease-in-out);
      transition-duration: 100ms;
      height: auto;
    }
  }

  &__addBtn {
    gap: var(--space-sm);
    padding: var(--space-xxs) var(--space-sm);
    font-size: var(--text-sm);
    box-shadow: var(--shadow-xs);
    border-radius: var(--radius-md);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: center;

    [role='loading'] {
      width: calc(var(--text-sm) * 0.85);
      height: calc(var(--text-sm) * 0.85);
    }
  }

  &__closeBtn {
    color: var(--color-btn-close);
    background-color: var(--color-transparent);
    box-shadow: none;

    &:hover {
      color: var(--color-btn-close-hover);
      background-color: var(--color-transparent);
    }
  }

  &__xIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
