@use "../../styles/mixins/border-radius";
@use "../../styles/mixins/box-shadow";

.menu {
  &__list {
    width: var(--width-menu);
    margin-top: var(--space-xxxxs);
    display: grid;
    grid-auto-flow: row;
    background-color: var(--color-menu-bg);
    border-color: var(--color-divide);
    border-width: 1px;
    @include border-radius.border-radius-md(--menu-border-radius);
    @include box-shadow.box-shadow-xl(--menu-box-shadow);
  }

  &__header {
    --btn-close-size: 1.1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-menu-title);
    font-size: var(--text-sm);
    font-weight: 500;
    margin: 0 var(--space-sm);
    padding: var(--space-sm) 0;
    border-bottom-width: 1px;
    border-color: var(--color-divide);
  }

  &__close {
    position: absolute;
    right: 0;
  }

  &__prev {
    position: absolute;
    left: 0;
  }

  &__group {
    padding: var(--space-xs) 0;
    margin: 0 var(--space-sm);
    display: grid;
    grid-auto-flow: row;
    border-bottom-width: 1px;
    border-color: var(--color-divide);

    &:last-child {
      border-width: 0;
    }
  }
}
