@use "../../../../styles/mixins/buttons";
@use "../../../../styles/mixins/input";
@use "../../../../styles/mixins/animation";

.addCard {
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;

  &_open {
    gap: var(--space-xxs);
  }

  &__openBtn {
    --btn-gap: var(--space-xxs);
    --btn-padding-vertical: var(--space-xxs);
    --btn-padding-horizontal: var(--space-xxs);
    --btn-font-size: var(--text-sm);
    --color-btn: var(--color-add-card-open-btn);
    --color-btn-bg: var(--color-add-card-open-btn-bg);
    --color-btn-bg-hover: var(--color-add-card-open-btn-bg-hover);
    --btn-justify-content: start;
    @include buttons.btn;
    border-radius: var(--radius-md);
    width: 100%;

    &_open {
      display: none;
    }

    &:hover {
      color: var(--color-add-card-open-btn-hover);
    }
  }

  &__plusIcon {
    width: 1.15rem;
    height: 1.15rem;
  }

  &__container {
    @include animation.transition;
    @include animation.ease-in;

    width: 100%;
    background-color: var(--color-input-default-bg);
    box-shadow: var(--shadow-xs);
    border-radius: var(--radius-md);
    border-color: var(--color-add-card-input-border);
    border-bottom-width: 1px;
    display: none;

    &_open {
      @include animation.transition-all;
      @include animation.duration-100;
      display: flex;
      flex-direction: column;
    }
  }

  &__tags {
    padding: var(--space-xs) var(--space-xs) 0;
    display: flex;
    gap: var(--space-xxxs);
    flex-wrap: wrap;
  }

  &__tag {
    --btn-padding-vertical: var(--space-xxxxs);
    --btn-padding-horizontal: var(--space-xxs);
    --btn-font-size: var(--text-xs);
    min-width: 2.27rem;
    min-height: 0.5rem;
  }

  &__input {
    --input-border-width: 0;
    --input-box-shadow: none;
    --input-font-size: var(--text-sm);
    min-height: 3.5rem;
  }

  &__menuBtn {
    position: absolute;
    right: 0;
    padding: var(--space-xxs);
    color: var(--color-category-menu-btn);
    background-color: var(--color-category-menu-btn-bg);
    border-radius: var(--radius-md);

    &:hover {
      color: var(--color-category-menu-btn-hover);
      background-color: var(--color-category-menu-btn-bg-hover);
    }

    & > svg {
      width: 1.333rem;
      height: 1.333rem;
    }
  }
}
