.boardPage {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
  }

  &__categories {
    flex-grow: 1;
    padding: var(--space-xxxs) var(--space-xs) var(--space-sm);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: var(--space-xs);
  }

  &__addCategory {
    width: 16rem;
  }
}
